.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.flex-container > div {
    background-color: #f1f1f1;
    padding: 5px;
}

#oidata-table {
    font-family: calibri, arial;
    width: 400px;
}

    #oidata-table thead {
        background-color: #8CCCF1;
        height: 8px;
        font-weight: bold;
        text-align: center;
    }

    #oidata-table td {
        height: 8px;
        border: 1px solid #466E85;
        width: 136px;
        padding: 5px;
    }

/* [THE BASE MESSAGE] */
.bar {
    padding: 10px;
    height: 10px;
    color: #333;
    background: #fafafa;
    border: 1px solid #ccc;
    display: none;
}
/* [THE VARIATIONS] */
.info {
    color: #204a8e;
    background: #c9ddff;
    border: 1px solid #4c699b;
}

.success {
    color: #2b7515;
    background: #ecffd6;
    border: 1px solid #617c42;
}

.warn {
    color: #756e15;
    background: #fffbd1;
    border: 1px solid #87803e;
}

.error {
    color: #ba3939;
    background: #ffe0e0;
    border: 1px solid #a33a3a;
}
/* [ICONS] */
i.ico {
    display: inline-block;
    width: 20px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
}
/* [CLOSE BUTTON] */
div.close {
    position: absolute;
    top: 30%;
    right: 10px;
    color: #888;
    cursor: pointer;
}
